.gameDiv {
	position: relative;
	background-size: cover;
	width: 90%;
    height: 0%;
	margin: auto;
	color: white;
	margin-top: 25px;
    margin-bottom: 0px;
    padding-top: 15px;
	padding-bottom: 15px;
}

.gameDiv::after {
    content: "";
    display: table;
    clear: both;
}

.gameDiv p {
	margin-left: 2%;
	font-size: 0.9em;
}

.gameDiv h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2.5%;
	width: 100%;
	font-size: clamp(1.5rem, 4.5vw + 1rem, 4rem);
	padding-bottom: 1vh;
}

.gameDivScrollPoint {
	position: absolute; 
	top: -150px; 
	z-index: 10;
}

.gameDivTitle {
	width: 100%;
	margin-left: 4vw;
}

.gameDivHalf {
	margin: auto; 
	float: left; 
	min-width: 315px;
    /* font-size: 1.5vw; */
	margin-left: 5vw;
	padding-left: 0.75%;
}

.gameDivHalf p {
    color: #ccc;
	/* font-size: 1vw; */
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	margin-left: 0.65vh;
}

.gameDivHalf h3 {
    margin-top: 1.5%;
    margin-bottom: 0px;
	margin-left: 0px;
}

.gameDivHalf h4 {
	font-family: 'ComicHelvetic';
    margin-left: 0.75vh;
    margin-top: 1.15vh;
    margin-bottom: 0px;
    /* font-size: 0.8em; */
    font-size: 1em;
}

.gameDivHalf ul {
	margin-top: 0.5vw;
	list-style-type: "👽";
	padding-right: 1vw;
}

.gameDivHalf li {
	font-family: "ComicHelvetic";
	font-size: 0.9em;
	text-decoration: none;
}

.gameDivHalf li a {
	font-family: "ComicHelvetic";
	font-size: 0.9em;
	text-decoration: none;
	color: #99ccff;
}

.gameDivHalfRow {
    display: flex;
    align-items: center;
}
 
.gameDivArtSection {
	width: 100%;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.gameDivArtSection img {
	width: 90%;
	min-width: 13.25vw;
	margin: auto;
	display: block;
	border: 3px solid white;
}

.gameDivArtSection img:hover {
	border: 3px solid yellow;
}

.gameDivArtSection h3 {
	padding: 5px 0px 0px 0px;
	margin-bottom: 1.5em;
	font-size: 0.9em;
	line-height: 2.25vh;
}

.gameDivArtSection a {
	text-decoration: none;
	color: #99ccff;
	line-height: 1vw;
}

.gameDivScreenshotSection {
	width: 100%;
	text-align: center;
	padding: 10px 0px 0.75em 0px;
}

.gameDivScreenshotParent {
	width: 20%;
	min-width: 10.25vw;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	font-size: initial;
}

.gameDivHalfScreenshot {
	width: 90%;
	display: block;
	margin: auto;
	border: 2px solid white;
	box-shadow: 2px 2px #000;
	cursor: pointer;
}

.gameDivHalfScreenshot:hover {
	transform: scale(1.05);
    box-shadow: 0px 0px #000;
	border: 3px solid yellow;
}

.gameDivHalfScreenshotBig {
	width: 95%;
	min-width: 13.25vw;
	padding-bottom: 15px;
	margin: auto;
}

.gameDivHalfScreenshotBig img {
	width: 95%;
	display: block;
	margin: auto;
	border: 3px solid white;
}

.gameDivPlatformParent {
	width: 100%;
    margin-left: 0.75vw;
	margin-bottom: 0.25em;
}

.gameDivPlatformParent a {
	text-decoration: none;
    outline: none;
}

.gameDivPlatform {
	width: 12%;
	min-width: 3.5vw;
	padding-left: 0.25vw;
	padding-right: 0.5vw;
	border: 0px solid white;
    box-shadow: 0px 0px #000;
	filter: grayscale(100%);
	margin: auto;
}

.gameDivPlatform:hover {
	transform: scale(1.15);
	filter: grayscale(0%);
}